fastapi
uvicorn
python-dotenv
langchain
langchain-openai
langchain-core
langchainhub
langgraph
azure-identity
azure-search-documents
azure-ai-formrecognizer
azure-storage-blob
openai
msal
python-jose
passlib
python-multipart
pydantic
pydantic-settings
applicationinsights
tiktoken
tenacity
aiohttp
